@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.cdnfonts.com/css/sharp-sans');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-2');

body {
    background: #000000;
}

body::-webkit-scrollbar{
    display: none;
  }

html {
    scroll-behavior: smooth;
}


#image p {
    position: relative;
    top: 45%;
    font-family: Poppins,sans-serif;
    font-size: 2.75em;
    font-weight: 900;
    text-align: center;
    color: white;
}

span {
    background: linear-gradient(180deg,#ffb6ff,#b344ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

#container {
    flex: 1;
    background-color: #181818;
    text-align: center;
    width: 35em;
    height: 35em;
    max-width: 70em;
    max-height: 70em;
    transition: 1s;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 0.5em;
}

#container p2 {
    color: white;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    font-size: 2em;
    position: relative;
    top: 45%;
}

#container-2 {
    flex: 1;
    background-color: #181818;
    text-align: center;
    width: 35em;
    height: 35em;
    max-width: 70em;
    max-height: 70 em;
    transition: 1s;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 0.5em;
}

#container-2 p3 {
    color: white;
    font-family: Poppins,sans-serif;
    font-weight: 500;
    font-size: 2em;
    position: relative;
    top: 45%;
}

#logo {
    position: absolute;
    top: 0px;
    padding-top: 2em;
    padding-left: 2em;
    width: 20em;
}

#topbar {
    background: #000000;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 6em;
    top: 0em;
    box-shadow: 0px 0px 1em 0.08em #000000;
}

#image {   
    position: absolute;
    top: 0em;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url("http://www.nasa.gov/sites/default/files/thumbnails/image/pillars_of_creation.jpg");
    background-size: 100%;
    background-position-y: 40%;
    z-index: -1;
}

#image-2 {   
    position: absolute;
    top: 0em;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url("https://cdn.eso.org/images/wallpaper5/eso0932a.jpg");
    background-size: 100%;
    background-position-y: 40%;
    z-index: -1;
}

#image-2 p {
    position: relative;
    top: 45%;
    font-family: Poppins,sans-serif;
    font-size: 2.75em;
    font-weight: 900;
    text-align: center;
    color: white;
}

#bottom {
    position: absolute;
    width: 30em;
    height: 30em;
    top: 92em;
}

#container:hover {
  transform: perspective(3000px) rotateY(30deg);
  transition: 1s;
  transition-timing-function: ease-in-out;
  background: #b344ff;
  box-shadow: 0px 0px 1em 0em #b344ff;
}

#container-2:hover {
    transform: perspective(3000px) rotateY(-30deg);
    transition: 1s;
    transition-timing-function: ease-in-out;
    background: #b344ff;
    box-shadow: 0px 0px 1em 0em #b344ff;
}

#containerholder {
    position: absolute;
    width: 99.4%;
    display: flex;
    top: 78em;
    height: 100px;
    flex-direction: row;
}

.scroll-down {
    height: 3em;
    width: 3em;
    position: absolute;
    left: 49%;
    bottom: 3em;
    cursor: pointer;
    background: url("https://www.samsung.com/global/galaxy/common/images/bg_topbutton.png");
    background-size: 3em;
    transform: rotate(180deg) scale(120%);
    transition: 0.5s;
    border: 2px solid #FFFFFF;
    border-radius: 3.2em;
    opacity: 0.8;
}

.scroll-down-2 {
    height: 3em;
    width: 3em;
    position: absolute;
    left: 49%;
    top: 50em;
    cursor: pointer;
    background: url("https://www.samsung.com/global/galaxy/common/images/bg_topbutton.png");
    background-size: 3em;
    transform: rotate(180deg) scale(120%);
    transition: 0.5s;
    border: 2px solid #FFFFFF;
    border-radius: 3.2em;
    opacity: 0.8;
}


.scroll-down-2:hover {
    transform: scale(150%) rotate(180deg);
    transition-timing-function: ease-in-out;
    transition: 0.7s;
    border: 2px solid black;
}

.scroll-down:hover {
    transform: scale(150%) rotate(180deg);
    transition-timing-function: ease-in-out;
    transition: 0.7s;
    border: 2px solid black;
}

a {
    color: transparent;
    text-decoration: none;
}

#information-1 {
    flex: 1;
    background-color: #181818;
    color: white;
    width: 35em;
    height: 35em;
    max-width: 35em;
    max-height: 35em;
    margin-left: 5em;
    margin-right: 5em;
    border-radius: 0.5em;
    text-align: left;
    padding: 1em;
}

#information-1 p4 {
    position: relative;
    font-size: 2em;
    font-family: Poppins,sans-serif;
    top: 1em;
    left: 1em;
}

#information-1 p5 {
    font-family: Poppins,sans-serif;
    position: relative;
    top: 3em;
}

.home {
    position: absolute;
    font-family: Poppins,sans-serif;
    color: white;
    top: 0%;
    margin: 0%;
    margin-top: 1.5em;
    right: 20em;
    font-size: 1.5em;
    z-index: 2;
}

.milkyway {
    position: absolute;
    font-family: Poppins,sans-serif;
    color: white;
    top: 0%;
    margin: 0%;
    margin-top: 1.5em;
    right: 13em;
    font-size: 1.5em;
    z-index: 2;
    border: 2px solid #b344ff;
    border-radius: 2em;
    border-spacing: 10px;
}