@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.cdnfonts.com/css/helvetica-2');

body {
    background: #000000;
}



p {
    padding-top: 7em;
    font-family: Poppins,sans-serif;
    font-size: 2.75em;
    font-weight: 900;
    text-align: center;
    color: white;
}

span {
    background: linear-gradient(180deg,#ffb6ff,#b344ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;  
}

#container {
    position: absolute;
    left: 4em;
    display: inline-block;
    background-color: #0a0a0a;
    text-align: center;
    width: 35em;
    height: 35em;
    top: 55em;
}

#container p2 {
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 2em;
    position: relative;
    top: 1em;
}

#container-2 {
    position: absolute;
    right: 4em;
    display: inline-block;
    background-color: #0a0a0a;
    text-align: center;
    width: 35em;
    height: 35em;
    top: 55em;
}

#container-2 p3 {
    color: white;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 2em;
    position: relative;
    top: 1em;
}

#logo {
    position: absolute;
    top: 0px;
    padding-top: 2em;
    padding-left: 2em;
    width: 20em;
}

#topbar {
    background: #000000;
    position: absolute;
    width: 100%;
    left: 0px;
    height: 6em;
    top: 0em;
    box-shadow: 0px 0px 1em 0.08em #000000;
}

#image {   
    position: absolute;
    top: 0em;
    left: 0;
    height: 55em;
    width: 100%;
    background-image: url("http://www.nasa.gov/sites/default/files/thumbnails/image/pillars_of_creation.jpg");
    background-size: 100%;
    background-position-y: 40%;
    opacity: 0.7;
    z-index: -1;
}